h1 {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 10px;
    border-color: #A84827;
    border-top-style: groove;
    border-bottom-style: groove;
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
    min-width: 200px;
    font-family: serif !important;
}

h2 {
    text-align: center;
    font-family: fantasy !important;
}

#our-party {
    padding-top: 1em;
}

body {
    font-family: Tahoma, Geneva, sans-serif;
    color: #F8B448;
    background-image: url("https://www.publicdomainpictures.net/pictures/60000/velka/old-paper-background-texture.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-fill-color: #A84827;


}

a {
    text-decoration: none;
    color: #6A765F;
}

a:hover {
    text-decoration: none;
    color: #151713;
}

/*Navbar*/

.bg-light {
    background-color: #F8B448 !important;
}

.navbar {
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0px;
    font-family: fantasy !important;
}

.footer {
    bottom: 0;
    background-color: #F8B448;
    font-size: small;
    text-align: center;
    width: 100%;
    padding: 10px 0px 0px 0px;
    position: fixed;
}

.padding {
    padding: 20px;
}

#home-text {
    text-align: center;
    width: 100%;
    font-size: 25px;
    font-family: serif !important;
}

.about {
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10%;
    padding-bottom: 10%;

}

/* Pictures */

#selfie {
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Grid stuff */

html {
    box-sizing: border-box;
    height: 100%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#disclaimer {
    text-align: center;
    padding: 10px;
}

/* The Masonry Container */

.masonry {
    column-gap: 1em;
    padding: 0em 1em;
}

.reviews {
    padding-top: 100px;
}

.review {
    background: #eee;
    margin: 10px;
    height: 200px;
    padding: 10px;
    text-align: center;
}

/* The Masonry Brick */

.item {
    background: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    height: 150px;
    padding: 10px;
    text-align: center;
}

.item:hover {
    background: #F8B448;
}

.offer {
    border-color: #A84827;
    border-style: solid;
    background: #eee;
    padding: 30px 10px;
    text-align: center;
    font-size: 3em;
    font-family: Impact, Charcoal, sans-serif !important;
}

.topLeft {
    border-right: none;
    border-bottom: none;
}

.bottomRight {
    border-top: none;
    border-left: none;
}

/* Masonry on large screens */

@media only screen and (min-width: 1024px) {
    .masonry {
        column-count: 4;
    }
}

/* Masonry on medium-sized screens */

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .masonry {
        column-count: 3;
    }
}

/* Masonry on small screens */

@media only screen and (max-width: 767px) and (min-width: 540px) {
    .masonry {
        column-count: 2;
    }
}

.name {
    font-size: 18px;
}

.description {
    font-size: 14px;
}

#fire {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#stars {
    width: 40%;
}

.not-available {
    font-size: 20px !important;
}
